@keyframes bubble {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .animate-bubble {
    animation: bubble 20s infinite ease-in-out;
  }
  